<div class="col-md-8 col-lg-8">
    <button (click)="Listar()">Listar Personas</button>
    <label><input type="checkbox"  (change)='ocultar($e)' >Editar</label>
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Mail</th>
            <th>Foto</th>
            <th>Borrar</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor='let persona of personas'>
                <td>{{persona.nombre}}</td>
                <td *ngIf='persona.sexo == "F"' style="background-color:pink;">{{persona.sexo}}</td>
                <td *ngIf='persona.sexo != "F"' style="background-color:lightblue;">{{persona.sexo}}</td>        
                <td>{{persona.mail}}</td>
                <td><img src='./assets/fotos/{{persona.pathFoto}}' height="50" width="50"></td>
                <td><button type="button" class="btn btn-danger" (click)="BorrarPersona(persona); $event.stopPropagation()">Borrar</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div [hidden]='!check' class="col-lg-4 col-md-4">
    <form [formGroup]="formRegistro" (ngSubmit)='RegistrarPersona()'>
        <div class="row">
            <div class="form-group col-md-8">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre"class="form-control" [formControl]="nombre">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
                <label for="sexo">Sexo
                    <label><input type="radio" name="sexo" value="M" formControlName="sexo">M</label>
                    <label><input type="radio" name="sexo" value="F" formControlName="sexo">F</label>
                </label>
            </div>
        </div>
        <div class="row">
            <div  class="form-group col-md-5">
                <label for="mail">Mail</label>
                <input type="text" class="form-control" name="mail" [formControl]="email">
            </div>
        </div>
        <div class="row">
            <div  class="form-group col-md-4">
                <label for="clv1">Password</label>
                <input type="text" class="form-control" name="clv1" [formControl]="clv1">
            </div>
            <div  class="form-group col-md-4">
                <label for="clv2">Repetir Password</label>
                <input type="text" class="form-control" name="clv2" [formControl]="clv2">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="pathFoto">Foto</label>
                <input type="text" class="form-control" name="pathfoto" [formControl]="pathFoto">
            </div>
        </div>
    <button type="submit" [disabled]="!formRegistro.valid" class="btn btn-info">Registrar</button>
  </form>
</div>
