Header add Access-Control-Allow-Origin "http://localhost:4200"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
Header add Access-Control-Allow-Headers "Origin, x-requested-with, content-type,Accept,Authorization"
Header add Access-Control-Allow-Credentials 'true'

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ api.php [QSA,L]