<table>
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Mail</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of personas">
            <td>{{persona.password}}</td>
            <td>{{persona.nombre}}</td>
            <td *ngIf='persona.sexo == F else masculino' class="bg-danger">F</td>
            <ng-template #masculino><td class="bg-primary">M</td></ng-template>
            <td>{{persona.mail}}</td>
          </tr>
    </tbody>
  </table>
