<h1 mat-dialog-title>Modificacioón de Persona</h1>
<form >
<mat-dialog-content style="background-color:white;">
  
  <div class="row">
    <div class="col-md-4">
        <mat-form-field>
            <input matInput  [appMiFormulario]="data.nombre" placeholder="Nombre">
          </mat-form-field>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <mat-form-field >
            <input matInput [appMiFormulario]="data.apellido" placeholder="Apellido">
          </mat-form-field>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <mat-form-field >
              <input matInput  [appMiFormulario]="data.latitud" placeholder="Latitud">
            </mat-form-field>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
          <mat-form-field >
              <input matInput [appMiFormulario]="data.longitud" placeholder="Longitud">
            </mat-form-field>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
      <mat-form-field >
          <input matInput [appMiFormulario]="data.direccion" placeholder="Dirección">
        </mat-form-field>
      </div>
      <div class="col-md-1"></div>
      
      <div class="col-md-4">
        <br>
          <mat-radio-group [appMiFormulario]="data.sexo">
              <mat-radio-button value="M">M</mat-radio-button>
              <mat-radio-button value="F">F</mat-radio-button>
            </mat-radio-group>
      </div>
   
  </div>

    
    
  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" (click)="modificar()">Modificar</button>
  <button mat-button color="warn" type="button" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
</form>
