
<div><h1>Piedra Papel o Tijera</h1>
		<div class="animated bounceInDown" >
				<img src="./assets/interrogacion.jpg" style="">
		</div>
		<div class=" animated bounceInLeft">
			<img class="PiedraPapelTijera animated zoomInRight " src="./assets/piedra.jpg" (click)="Jugar('piedra')">
			<img class="PiedraPapelTijera animated zoomInUp" src="./assets/papel.jpg" (click)="Jugar('papel')">
			<img class="PiedraPapelTijera animated zoomInLeft"  src="./assets/tijera.jpg" (click)="Jugar('tijera')">
		</div>
</div>